.header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2673bb;
}

.header__title {
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Kanit', sans-serif;
}

@media screen and (max-width: 484px) {
    .header__title {
        font-size: 20px;
    }
}